**.agdai
/depr
/paper/auto
/paper/paper.logIntuitionisticLogic.tex
/paper/paper.logLambekGrishinCalculus.tex
/paper/paper.logLinearLogic.tex
/paper/paper.aux
/paper/paper.bbl
/paper/paper.bibpaper.blg
/paper/paper.log
/paper/paper.logpaper.out
/paper/paper.logpaper.pdf
/paper/paper.logpaper.ptb
/paper/paper.logpaper.tex
