**.agdai
/depr
/paper.pdf
/paper/auto
/paper/IntuitionisticLogic.tex
/paper/LambekGrishinCalculus.tex
/paper/LinearLogic.tex
/paper/paper.aux
/paper/paper.bbl
/paper/paper.blg
/paper/paper.log
/paper/paper.out
/paper/paper.ptb
/paper/paper.tex
paper/paper.pdf
